*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    height: 100%;
    background: rgb(225,225,225);
}
/*Pagina de login */

.box-login{
    box-shadow: 10px 10px 5px rgb(200,200,200);
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%,-50%);
}

.box-login h2{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password]
{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-login input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    background: #00bfa5;
    color:white;
    border: 0;


}

/*Box erro do Painel */

.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: #F75353;
    color:white;
    font-size: 15px;
}

/*Fim pagina de login*/

/*Painel de controle */

.clear{clear:both;}

.center{padding:0 2%;margin: 0 auto;}

.menu{
    overflow-y: auto;
    height: 100%;
    background: #607d8b;
    float: left;
    width: 300px;
}
header{
    float: left;
    padding: 10px 0;
    background: #78909c;
    width: calc(100% - 300px); 
}

.loggout{
    float:right;
}

.loggout a{
    color: white;
    font-size: 20px;
}