*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    
    height: 100%;
    background: rgb(225,225,225);
}
body{
    overflow-x: hidden;
}
/*Pagina de login */

.box-login{
    box-shadow: 10px 10px 5px rgb(200,200,200);
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%,-50%);
}

.box-login h2{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password]
{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-login input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    background: #00bfa5;
    color:white;
    border: 0;


}

/*Box erro do Painel */

.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: #F75353;
    color:white;
    font-size: 15px;
}

/*Fim pagina de login*/

/*Painel de controle */

.clear{clear:both;}

.center{padding:0 2%;margin: 0 auto;}


header{
    position: relative;
    left: 300px;
    padding: 10px 0;
    background: #78909c;
    width: calc(100% - 300px); 
}

.loggout{
    float:right;
}

.loggout a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.loggout a > span{
    font-size: 17px; 
    text-decoration: none;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}
.menu-wraper{
    width: 300px;
}
.menu{
    overflow-x: hidden;
    overfloy-y: auto;
    height: 100%;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    background: #607d8b;
    float: left;
    width: 300px;
}

div.box-usuario{
    text-align: center;
}

.avatar-usuario{
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2F3D42;
}

.avatar-usuario i{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -ms tranform:translate(-50%, -50%);
    font-size: 50px;
    color: #2F3D42;
}

.nome-usuario{
    text-align: center;
    margin-top:;
}

.nome-usuario p{
    color:white;
    font-size: 14;
    font-weight: normal;
}

/*Conteudo principal do painel */

.w100{
    width: 100%;

}

.w50{
    width: 49%;
    
   
}

.left{
    float: left;
}

.right{
    float: right;
}

.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content{
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .menu{
        display: none;
        padding: 0;
        width: 0;
    }
   
    
    .content{
        width: 100%;
        left: 0;
    }
    .header{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .menu-wraper{
        width: 200px;
    }
}